<section>
  <h2>Wolf</h2>
  <ul class="wolf-list">
    <li class="car-item">
      <img src="../img/Andrey/wolf.jpeg" alt="">
      <h3>wolf one</h3>
    </li>
    <li class="car-item">
      <img src="../img/Andrey/wolf.jpeg" alt="">
      <h3>wolf one</h3>
    </li>
    <li class="car-item">
      <img src="../img/Andrey/wolf.jpeg" alt="">
      <h3>wolf one</h3>
    </li>
    <li class="car-item">
      <img src="../img/Andrey/wolf.jpeg" alt="">
      <h3>wolf one</h3>
    </li>
    <li class="car-item">
      <img src="../img/Andrey/wolf.jpeg" alt="">
      <h3>wolf one</h3>
    </li>
    <li class="car-item">
      <img src="../img/Andrey/wolf.jpeg" alt="">
      <h3>wolf one</h3>
    </li>
  </ul>
</section>